generated/src/main/resources/wsdl/owners-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://com.example.petstore/ws/owners"
                  targetNamespace="http://com.example.petstore/ws/owners"
                  name="OwnersService">

    <wsdl:types><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <!-- types defined in schema.xsd -->
    </xs:schema></wsdl:types>

    <wsdl:message name="ListOwnersRequest">
        <wsdl:part name="parameters" element="tns:ListOwnersRequest"/>
    </wsdl:message>
    <wsdl:message name="ListOwnersResponse">
        <wsdl:part name="parameters" element="tns:ListOwnersResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateOwnerRequest">
        <wsdl:part name="parameters" element="tns:CreateOwnerRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateOwnerResponse">
        <wsdl:part name="parameters" element="tns:CreateOwnerResponse"/>
    </wsdl:message>

    <wsdl:message name="GetOwnerByIdRequest">
        <wsdl:part name="parameters" element="tns:GetOwnerByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOwnerByIdResponse">
        <wsdl:part name="parameters" element="tns:GetOwnerByIdResponse"/>
    </wsdl:message>

    <wsdl:portType name="OwnersServicePort">
        <wsdl:operation name="ListOwners">
            <wsdl:input message="tns:ListOwnersRequest"/>
            <wsdl:output message="tns:ListOwnersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CreateOwner">
            <wsdl:input message="tns:CreateOwnerRequest"/>
            <wsdl:output message="tns:CreateOwnerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetOwnerById">
            <wsdl:input message="tns:GetOwnerByIdRequest"/>
            <wsdl:output message="tns:GetOwnerByIdResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OwnersServiceBinding" type="tns:OwnersServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ListOwners">
            <soap:operation soapAction="http://com.example.petstore/ws/owners/ListOwners"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateOwner">
            <soap:operation soapAction="http://com.example.petstore/ws/owners/CreateOwner"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOwnerById">
            <soap:operation soapAction="http://com.example.petstore/ws/owners/GetOwnerById"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OwnersService">
        <wsdl:port name="OwnersServicePort" binding="tns:OwnersServiceBinding">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
